.header {
    background-image: url(../../images/bg-banner.jpg), linear-gradient(#00000080, rgba(0, 0, 0, 0.5)) ; 
    height: 600px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center; 
  }
  .title {
    color: white;
    font-weight: bold;
    font-size: 59px;
  }
  .about-btn {
    outline: none;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
  }