.items {
    color: black;
    font-size: 25px;
    font-weight: 500;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
    padding: 7px;
    text-decoration: none;
    background-color: lightsalmon;
    border-radius: 5px;
  }
  .items :hover {
    color: rgb(240, 234, 234);
  }